<div class="container">
    <div [hidden]="submitted">
        <h1>Hacer una venta</h1>
        <form (ngSubmit)="onSubmit()" #saleForm="ngForm">
            <div class="form-group">
                <label for="Folio">Folio: </label>
                <input type="text" class="form-control" id="folio" disabled required [(ngModel)]="model.folio"
                    name="folio" #folio="ngModel">
                <div [hidden]="folio.valid || folio.pristine" class="alert alert-danger">
                    El folio es requerido.
                </div>
            </div>

            <div class="form-group">
                <label for="cliente">Cliente: </label>
                <select name="cliente" class="form-control" id="cliente" required [(ngModel)]="model.cliente"
                    name="cliente" #cliente="ngModel">
                    <option [value]="cliente" *ngFor="let cliente of listaClientes">{{cliente}}</option>
                </select>
                <div [hidden]="cliente.valid || cliente.pristine" class="alert alert-danger">
                    El cliente es requerido.
                </div>
            </div>

            <div class="form-group">
                <label for="producto">Producto: </label>
                <select name="producto" class="form-control" id="producto" required [(ngModel)]="model.productos"
                    name="producto" #producto="ngModel">
                    <option [value]="producto.nombre" *ngFor="let producto of listaProductos">{{producto.descripcion}}</option>
                </select>
                <div [hidden]="producto.valid || producto.pristine" class="alert alert-danger">
                    El producto es requerido.
                </div>
            </div>

            <button type="submit" class="btn btn-success" [disabled]="!saleForm.form.valid">Hacer venta</button>
            <button type="button" class="btn btn-default"
                (click)="nuevaVenta(); saleForm.reset()">Limpiar</button>
        </form>
    </div>

    <div [hidden]="!submitted">
        <h2>Ha registrado la siguiente venta: </h2>
        <div class="row">
            <div class="col-xs-3">Producto: </div>
            <div class="col-xs-9">{{ model.productos }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Cliente: </div>
            <div class="col-xs-9">{{ model.cliente }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Importe: </div>
            <div class="col-xs-9">{{ model.importe }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Fecha: </div>
            <div class="col-xs-9">{{ model.fecha }}</div>
        </div>
        <br>
        <button class="btn btn-primary" [routerLink]="['/sales']">Lista de ventas</button><br><br>
    </div>
</div>