<div class="d-flex justify-content-center">
    <div class="w-75 p-3">
      <div class="d-flex flex-row justify-content-between mb-2">
        <h1>Ventas</h1>
        <input class='btn btn-success' type='button' value='Agregar nueva venta' routerLink="/add-sale"/>
      </div>
    
      <table class="table table-bordered ">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Folio</th>
            <th scope="col">Clientes</th>
            <th scope="col">Productos</th>
            <th scope="col">Importe</th>
            <th scope="col">Fecha</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let venta of ventas; index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{venta.folio}}</td>
            <td>{{venta.cliente}}</td>
            <td>{{venta.productos}}</td>
            <td>{{venta.importe | currency:'MXN'}}</td>
            <td>{{embellecerFecha(venta.fecha)}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>