<div class="container">
    <div [hidden]="submitted">
        <h1 *ngIf="tipo == 1">Agregar un cliente</h1>
        <h1 *ngIf="tipo == 2">Editar un cliente</h1>
        <form (ngSubmit)="onSubmit()" #clientForm="ngForm">
            <div class="form-group">
                <label for="nombre">Nombre: </label>
                <input type="text" class="form-control" id="nombre" required [(ngModel)]="model.nombre" name="nombre"
                    #nombre="ngModel">
                <div [hidden]="nombre.valid || nombre.pristine" class="alert alert-danger">
                    El nombre es requerido.
                </div>
            </div>

            <div class="form-group">
                <label for="sector">Sector: </label>
                <input type="text" class="form-control" id="sector" [(ngModel)]="model.sector"
                    name="sector" #sector="ngModel">
            </div>

            <div class="form-group">
                <label for="domicilio">Domicilio: </label>
                <input type="text" class="form-control" id="domicilio" [(ngModel)]="model.domicilio"
                    name="domicilio" #domicilio="ngModel">
            </div>

            <div class="form-group">
                <label for="rfc">RFC: </label>
                <input type="text" class="form-control" id="rfc" [(ngModel)]="model.rfc"
                    name="rfc" #rfc="ngModel">
            </div>

            <div class="form-group">
                <label for="correo">Correo: </label>
                <input type="text" class="form-control" id="correo" [(ngModel)]="model.correo"
                    name="correo" #correo="ngModel">
            </div>

            <button type="submit" class="btn btn-success" [disabled]="!clientForm.form.valid">Guardar</button>
            <button type="button" class="btn btn-default" (click)="nuevoCliente(); clientForm.reset()">Limpiar</button>
        </form>
    </div>

    <div [hidden]="!submitted">
        <h2>Ha guardado el siguiente cliente:</h2>
        <div class="row">
            <div class="col-xs-3">Nombre: </div>
            <div class="col-xs-9">{{ model.nombre }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Sector: </div>
            <div class="col-xs-9">{{ model.sector }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Domicilio: </div>
            <div class="col-xs-9">{{ model.domicilio }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">RFC: </div>
            <div class="col-xs-9">{{ model.rfc }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Correo: </div>
            <div class="col-xs-9">{{ model.correo }}</div>
        </div>
        <br>
        <button class="btn btn-primary" [routerLink]="['/users']">Lista de clientes</button><br><br>
    </div>
</div>
