.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #415556;
    width: 100%;

    border-bottom: 1px solid rgba(46, 46, 46, 0.514);
}

.logo {
    cursor: pointer;
    margin-top: -2rem;
    margin-left: 2rem;
    margin-bottom: 0.5rem;
    font-size: 5rem;
    color: white;
    font-family: 'Yellowtail', cursive;
    text-shadow: 2px 2px 0px #eb452b, 
                  4px 4px 0px #efa032, 
                  6px 6px 0px #46b59b, 
                  8px 8px 0px #017e7f, 
                  10px 10px 0px #052939;
}

.nav {
    font-size: 1.4rem;
    list-style: none;
    background-color: #5CC3C2;
}

.nav li {
    cursor: pointer;
    padding: 1.7rem;
    width: 18rem;
    text-align: center;
}

.nav li a {
    color: white;
    letter-spacing: 0.3rem;
    text-decoration: none;
    text-transform: uppercase;

    font-family: 'Roboto', 'Open-Sans';

    position: relative;
    font-size: 2rem;
}

.nav li:hover {
    background-color: #D87071;
    transition: 0.3s;
}